

<link rel="stylesheet" href="~/css/index.css">

<div class="main">
    <div class="left-container">
        <div class="upper-container">
            <div class="circle-container">
                <div class="circle">

                </div>
            </div>
           <div class="name-container">
             <h4 class="name">Rogel Gerodiaz</h4>
           </div>
        </div>
        <div class="line-container">
            <div class="line"></div>
        </div>
        <div class="side-content-container">
            <div class="content-container">
                <h3 class="today-tasks">Today tasks</h3>
                <div class="item-container">
                    <div class="item-sec-container">
                        <div class="circle1"></div>
                        <h3 class="items">Personal</h3>
                    </div>
                    <div class="item-sec-container">
                        <div class="circle2"></div>
                        <h3 class="items">Freelance</h3>
                    </div>
                     <div class="item-sec-container">
                        <div class="circle3"></div>
                        <h3 class="items">Work</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="box-container">
            <div class="right-box">
                <div class="title-container">
                    <h4 class="title">To-do List</h4>
                </div>

                <form asp-action="Create" asp-controller="Tasks" method="post">
                    <div class="input-maincontainer">
                        <div class="input-box">
                            <div class="three-circles-container">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <input type="text" placeholder="What is your next tasks?" class="input-field" name="Description">
                                <select name="Category" class='select-input'>
                                    <option value="Personal">Personal</option>
                                    <option value="Freelance">Freelance</option>
                                    <option value="Work">Work</option>
                                </select>
                                <input type="datetime-local" id="dateTimeInput" class='date' name="DueDate">
                                <button type="submit"><box-icon name='save' size='38px' class='save-icon'></box-icon></button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="tasks-container">
                    <div class="input-box-tasks">
                        <div class="tasks-circle1"></div>
                        <h3 class="tasks-text">Work out</h3>
                        <div class="time-container">
                            <h3 class="tasks-time">09:00 am</h3>
                        </div>
                        <box-icon name='edit-alt' size='38px' class='edit-icon'></box-icon>
                        <box-icon name='trash' size='38px' color='red' class='delete-icon'></box-icon>
                    </div>
                    <div class="input-box-tasks">
                        <div class="tasks-circle2"></div>
                        <h3 class="tasks-text">Edit</h3>
                        <div class="time-container">
                            <h3 class="tasks-time">08:00 pm</h3>
                        </div>
                        <box-icon name='edit-alt' size='38px' class='edit-icon'></box-icon>
                        <box-icon name='trash' size='38px' color='red' class='delete-icon'></box-icon>
                    </div>
                    <div class="input-box-tasks">
                        <div class="tasks-circle3"></div>
                        <h3 class="tasks-text">Meeting</h3>
                        <div class="time-container">
                            <h3 class="tasks-time">06:00 am</h3>
                        </div>
                        <box-icon name='edit-alt' size='38px' class='edit-icon'></box-icon>
                        <box-icon name='trash' size='38px' color='red' class='delete-icon'></box-icon>
                    </div>
                    <div class="input-box-tasks">
                        <div class="tasks-circle1"></div>
                        <h3 class="tasks-text">Read book</h3>
                        <div class="time-container">
                            <h3 class="tasks-time">04:00 am</h3>
                        </div>
                        <box-icon name='edit-alt' size='38px' class='edit-icon'></box-icon>
                        <box-icon name='trash' size='38px' color='red' class='delete-icon'></box-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



